@media (max-width: 500px) {
    * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cv-document {
  background-color: aquamarine;
}

.cv-page {
  box-sizing: border-box;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-family: arial, sans-serif, tahoma;
  font-size: 13pt;
  vertical-align: baseline;
  border: 1 px solid red;
  box-shadow: 0 0 2px 2px blue inset;
  background-color: #f7f7f7;
  position: relative;
  width: 500px;
  padding: 0px;
  margin: 0 auto;
}
    .habig {
    display: block;
    width: 500px;
    margin: 10px;
  }
}
