* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cv-document {
  background-color: aquamarine;
}

.cv-page {
  box-sizing: border-box;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-family: arial, sans-serif, tahoma;
  font-size: 13pt;
  vertical-align: baseline;
  border: 1 px solid red;
  box-shadow: 0 0 2px 2px blue inset;
  background-color: #f7f7f7;
  position: relative;
  width: 1300px;
  padding: 0px;
  margin: 0 auto;
}

/*FORMAT ẢNH AVATAR*/
img {
  display: block;
  width: 1280px;
  margin: 10px;
}

.banner-image {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.hotencv {
  color: white;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 50%px;
  transform: translate(-50%, -50%);
}

/*FORMAT NAV HỒ SƠ*/

.iconlylich {
  margin-right: 400px;
  color: #55acee;
}
.iconthongtin {
  margin-right: 50px;
  color: #55acee;
}
.iconchungchi {
  margin-right: 50px;
  color: #55acee;
}
.iconduan,
.iconnav {
  color: #55acee;
}

#nav-bar {
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
}
/* Format anh ca nhan*/

.LQT {
  width: 150px;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}
a:link,
.iconthongtin:link,
.iconlylich:link,
.iconchungchi:link,
.iconduan:link {
  color: black;
}
a:visited,
.iconthongtin:visited,
.iconlylich:visited,
.iconchungchi:visited,
.iconduan:visited {
  color: blue;
}
a:hover,
.iconthongtin:hover,
.iconlylich:hover,
.iconchungchi:hover,
.iconduan:hover {
  color: red;
}
a:active,
.iconthongtin:active,
.iconlylich:active,
.iconchungchi:active,
.iconduan:active {
  color: yellow;
}

/* FORMAT MỤC TIÊU NGHỀ NGHIỆP VÀ THÔNG TIN CÁ NHÂN*/
#about {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 100px;
  margin: 40px;
}
.lienhe {
  display: inline-block;
}
#target1 {
  padding-left: 20px;
}
#target2 {
  padding-left: 20px;
}
/*KINH NGHIỆM,KỸ NĂNG,NGÔN NGỮ,HOẠT ĐỘNG, HỌC VẤN< SỞ THÍCH*/
.kinhnghiem,
.kynang,
.ngonngu,
.hoatdong,
.hocvan,
.sothich {
  border: 1px solid silver;
}
.icon {
  font-size: 50px;
}
#job-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 40px 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lictyx::before,
.lictyy::before,
.lifpt::before,
.liclbz::before,
.lidhfpt::before,
.lifunix::before {
  content: "•";
  font-size: 25px;
  padding-right: 2px;
  color: blue;
}
.hientai {
  background-color: #55acee;
  border: 1px solid #55acee;
  color: white;
  border-radius: 15%;
}
/* CSS GRID FORMAT KINH NGHIỆM*/

.kinhnghiem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
  border: 1px solid silver;
}

.kinhnghiem1 {
  grid-column: 1 / span 3;
  justify-self: center;
  align-self: center;
}
.kinhnghiem2 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  margin-right: 50px;
}

.kinhnghiem3 {
  grid-column: 1 / -1;
  padding-left: 30px;
  padding-bottom: 20px;
}
/*CSS GRID FORMAT KỸ NĂNG*/
.level1 {
  margin: 0;
  padding: 0;
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.level0 {
  margin: 0;
  padding: 0;
  background: silver;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.kynang {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

.kynang1 {
  grid-column: 1 / span 3;
  padding-left: 30px;
  align-self: center;
}
.kynang2 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  margin-right: 50px;
}
.kynang3 {
  grid-column: 1 / -1;
  padding-left: 30px;
}

/*CSS GRID FORMAT NGÔN NGỮ*/

.ngonngu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

.ngonngu1 {
  grid-column: 1 / span 3;
  align-self: center;
  padding: 30px;
}
.ngonngu2 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  margin-right: 50px;
}
.ngonngu3 {
  grid-column: start line;
  grid-column: 1 /-1;
  padding-left: 30px;
  padding-top: 0px;
}
/*CSS GRID FORMAT HOẠT ĐỘNG*/

.hoatdong {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

.hoatdong1 {
  grid-column: 1 / span 3;
  align-self: center;
  padding: 30px;
}
.hoatdong2 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  margin-right: 50px;
}
.hoatdong3 {
  grid-column: 1 / -1;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 20px;
}
/*CSS GRID FORMAT HỌC VẤN*/

.hocvan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

.hocvan1 {
  grid-column: 1 / span 3;
  align-self: center;
  padding-left: 30px;
}
.hocvan2 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  margin-right: 50px;
}
.hocvan3 {
  grid-column: 1 / -1;
  padding-left: 30px;
  padding-bottom: 20px;
}
/*CSS GRID FORMAT SỞ THÍCH*/

.sothich {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

.sothich1 {
  grid-column: 1 / span 3;
  align-self: center;
  padding-left: 30px;
}
.sothich2 {
  justify-self: center;
  align-self: center;
  margin-right: 50px;
  font-size: 50px;
}
.sothich3 {
  grid-column: 1 / -1;
  gap: 1px;
}
.sothich3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr;
  justify-self: center;
}
/*FOMAT BIỂU TƯỢNG sothich3*/
.sothich31,
.sothich32,
.sothich33,
.sothich34 {
  justify-self: center;
  color: #55acee;
  padding-top: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #55acee;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.iconsmall {
  font-size: 30px;
}

/*FOMAT CHỮ ĐI KÈM BIỂU TƯỢNG sothich3*/
.sothich35,
.sothich36,
.sothich37,
.sothich38 {
  justify-self: center;
  font-size: 15px;
}

/*CHỨNG CHỈ,GIẢI THƯỞNG*/

#certificate {
  margin: 40px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  gap: 0px;
}

.imageweb1,
.imagejava1,
.imagedatabase1 {
  width: 150px;
  margin-left: 0;
  margin-top: 50px;
}

/*CHỨNG CHỈ WEB*/

.chungchiweb {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.chungchiweb {
  display: flex;
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 30px;
}
.web1 {
}

.web2 {
  align-self: start;
  margin-top: 68px;
  margin-left: -30px;
}

/*CHỨNG CHỈ JAVA*/
.chungchijava {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.chungchijava {
  display: flex;
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 30px;
}
.java1 {
  margin-top: 20px;
  padding-left: 10px;
  margin-left: -20px;
  border-left: 1px solid #d6c08d;
}

.java2 {
  align-self: start;
  margin-top: 68px;
  margin-left: 20px;
}
*CHỨNG CHỈ DATABASE*/ .chungchidatabase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.chungchidatabase {
  display: flex;
}
.database1 {
}

.database2 {
  margin-top: 40px;
  margin-left: 20px;
}

/*FORMAT DỰ ÁN*/

.titleduan {
  margin: 40px 100px;
}
/* CHIA Project làm 3 phần duan1, duan2, duan3*/
#project {
  margin: 40px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;
}

td {
  padding: 10px;
}
th {
  width: 30%;
  text-align: left;
  padding: 10px;
}

.imageduan1,
.imageduan2,
.imageduan3 {
  width: 350px;
}
/*format duan1*/

.duan1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px 1fr;
}
/* CHIA duan1 thành 2 phần duan11 và duan12*/
/*duan11 chen hinh anh vao*/
.duan11 {
}
/*duan12 ghi nội dung */
.duan12 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* CHIA duan12 THÀNH 3 PHẦN duan121 và duan122 và duan123*/
/*duan121 CV Cá Nhân*/
.duan121 {
  margin-top: 15px;
  padding-left: 10px;
}
/* duan 122 biểu tượng*/

.duan122 {
  display: grid;
  grid-template-columns: 100px 30px 100px 30px 1fr;
  grid-template-rows: 1fr;
  padding-left: 10px;
}
/*duan123 chèn table*/
.duan123 {
  grid-row: 3 / -1;
}
/* CHIA duan122 THÀNH 5 PHẦN duan1221,duan1222,duan1223,duan1224,duan1225*/

.nam {
  display: flex;
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 50px;
  width: 50px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: white;
}
.duan1221,
.duan1222,
.duan1223,
.duan1224,
.duan1225 {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid silver;
}
th,
td {
  border-collapse: collapse;
  border-bottom: 1px solid silver;
}
.tomau121 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}
.tomau122 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.tomau11 {
  border: 1px solid silver;
}
/*format duan2*/
.duan2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px 1fr;
}
/* CHIA duan2 thành 2 phần duan21 và duan22*/
/*duan21 chen hinh anh vao*/
.duan21 {
}
/*duan22 ghi nội dung */
.duan22 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* CHIA duan22 THÀNH 3 PHẦN duan221 và duan222 và duan223*/
/*duan221 CV Cá Nhân*/
.duan221 {
  margin-top: 15px;
  padding-left: 10px;
}
/* duan 222 biểu tượng*/

.duan222 {
  display: grid;
  grid-template-columns: 100px 30px 100px 30px 1fr;
  grid-template-rows: 1fr;
  padding-left: 10px;
}
/*duan223 chèn table*/
.duan223 {
  grid-row: 3 / -1;
}
/* CHIA duan222 THÀNH 5 PHẦN duan2221,duan2222,duan2223,duan2224,duan2225*/

.nam {
  display: flex;
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 50px;
  width: 50px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: white;
}
.duan2221,
.duan2222,
.duan2223,
.duan2224,
.duan2225 {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid silver;
}
th,
td {
  border-collapse: collapse;
  border-bottom: 1px solid silver;
}
.tomau221 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}
.tomau222 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.tomau21 {
  border: 1px solid silver;
}

/*format duan3*/
.duan3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px 1fr;
}
/* CHIA duan3 thành 2 phần duan31 và duan32*/
/*duan31 chen hinh anh vao*/
.duan31 {
}
/*duan32 ghi nội dung */
.duan32 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* CHIA duan32 THÀNH 3 PHẦN duan321 và duan322 và duan323*/
/*duan321 CV Cá Nhân*/
.duan321 {
  margin-top: 15px;
  padding-left: 10px;
}
/* duan 322 biểu tượng*/

.duan322 {
  display: grid;
  grid-template-columns: 100px 30px 100px 30px 1fr;
  grid-template-rows: 1fr;
  padding-left: 10px;
}
/*duan323 chèn table*/
.duan323 {
  grid-row: 3 / -1;
}
.tdhtmlduan323,
.thhtmlduan323 {
  padding-top: 30px;
}
/* CHIA duan322 THÀNH 5 PHẦN duan3221,duan3222,duan3223,duan3224,duan3225*/

.nam {
  display: flex;
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 50px;
  width: 50px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: white;
}
.duan3221,
.duan3222,
.duan3223,
.duan3224,
.duan3225 {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid silver;
}
th,
td {
  border-collapse: collapse;
  border-bottom: 1px solid silver;
}
.tomau321 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}
.tomau322 {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.tomau31 {
  border: 1px solid silver;
}

/*FORMAT FOOTER*/

/*format facebook*/
.contact {
  display: flex;
  border: 1px solid #55acee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  background-color: #55acee;
  margin-left: 30px;
}
.hinhbieutuong {
  align-self: center;
}
.container-footer {
  display: flex;
  gap: 10px;
  margin: 40px 100px;
}
.tenbieutuong {
  align-self: center;
}
/*format Linkedin*/
/*format Github*/
.bg-grey {
  display: flex;
  justify-content: center;
}
